language: go

go:
  - 1.15.7
  - tip

before_install:
  - go mod download

script:
  - go test -race -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)